apiVersion: apps/v1
kind: Deployment
metadata:
  name: vote-deployment
  namespace: vote
  labels:
    name: vote-deployment
    app: demo-app
spec:
  replicas: 1
  selector:
    matchLabels:
      name: vote-app-pod
      app: demo-app
  template:
    metadata:
      name: vote-app-pod
      labels:
        name: vote-app-pod
        app: demo-app
    spec:
      containers:
        - name: vote-app-pod
          image: kodekloud/examplevotingapp_vote:before
          ports:
            - containerPort: 80
